<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.xiaoyuu.dao.DollMapper">
    <resultMap id="BaseResultMap" type="me.xiaoyuu.pojo.Doll">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sex" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="contact" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="cnt" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="pick_chance" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="be_picked_chance" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="message" javaType="java.lang.String" jdbcType="VARCHAR"/>

        </constructor>
    </resultMap>


    <select id="getOneDoll" resultMap="BaseResultMap">
        select id,
               user_id,
               sex,
               contact,
               create_time,
               update_time,
               cnt,
               status,
               pick_chance,
               be_picked_chance,
               message
        from doll_machine.doll
        where sex = #{sex}
          and be_picked_chance = 1
        limit 1


    </select>

    <select id="checkUserId" resultType="int" parameterType="string">
        select count(1)
        from doll_machine.doll
        where user_id = #{userId}
    </select>
    <select id="getDollByUserId" resultMap="BaseResultMap">
        select id,
               user_id,
               sex,
               contact,
               create_time,
               update_time,
               cnt,
               status,
               pick_chance,
               be_picked_chance,
               message
        from doll_machine.doll
        where user_id = #{userId}
    </select>


    <insert id="insert" parameterType="me.xiaoyuu.pojo.Doll">
        insert into doll_machine.doll (user_id, create_time, update_time, cnt, status)
        values (#{userId}, now(), now(), #{cnt}, #{status})
    </insert>


    <update id="updateCntByUserId">
        update doll_machine.doll
        set cnt         = #{cnt},
            update_time = now()
        where user_id = #{userId}
    </update>

    <update id="updatePickStatusByUserId">
        update doll_machine.doll
        set status      = #{pickStatus},
            update_time = now()
        where user_id = #{userId}
    </update>
    <update id="updateBePickedChance">
        update doll_machine.doll
        set be_picked_chance =#{bePickedChance},
            update_time      = now()
        where user_id = #{userId}
    </update>
    <update id="updatePickChance">
        update doll_machine.doll
        set pick_chance = 0,
            update_time = now()
        where user_id = #{userId}
    </update>
    <update id="updateSex">
        update doll_machine.doll
        set sex         =#{sex},
            update_time = now()
        where user_id = #{userId}
    </update>
    <update id="updateMessage">
        update doll_machine.doll
        set message     =#{message},
            update_time = now()
        where user_id = #{userId}
    </update>
    <update id="updateContact">
        update doll_machine.doll
        set contact     =#{contact},
            update_time = now()
        where user_id = #{userId}
    </update>
</mapper>